body {
  font-family: "Open Sans", sans-serif;
}

button {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  cursor: pointer;
  text-decoration: none;
  font-style: normal;
}

.list {
  list-style: none;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding: 84px 0;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 690px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
  }
  .section {
    padding: 100px 0;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
  }
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}

.page-header {
  position: absolute;
  width: 100%;
}

.header-container {
  align-items: center;
  display: flex;
}

.logo-link {
  fill: #303030;
}

.icon-logo {
  width: 69px;
  height: 55px;
}

@media screen and (max-width: 767px) {
  .page-header {
    padding-top: 40px;
  }
  .nav-container {
    display: none;
  }
  .header-container {
    justify-content: space-between;
  }
  .contact-header-container {
    display: none;
  }
  .logo-link {
    fill: white;
  }
  .menu-burger-btn {
    background-color: transparent;
    border: none;
  }
  .icon-burger {
    fill: white;
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 768px) {
  .menu-burger-btn {
    display: none;
  }
  .logo-link {
    margin-right: 59px;
  }
  .nav-list {
    display: flex;
    gap: 20px;
  }
  .nav-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: white;
  }
  .nav-link:hover, .nav-link:focus {
    color: #FF6C00;
  }
  .tel-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.1em;
    color: white;
  }
  .tel-link:hover, .tel-link:focus {
    color: #FF6C00;
  }
  .page-header {
    padding-top: 32px;
  }
  .contact-header-container {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  .header-button {
    color: white;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.09em;
    border: 1px solid #FF6C00;
    border-radius: 25px;
    background-color: transparent;
    text-transform: uppercase;
    padding: 12px 20px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-button:hover, .header-buttonfocus {
    background-color: #FF6C00;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-header-container {
    flex-direction: column-reverse;
    gap: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    padding-top: 52px;
  }
  .contact-header-container {
    gap: 43px;
    margin-right: 17px;
  }
  .logo-link {
    margin-right: 131px;
  }
  .nav-list {
    gap: 30px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    margin-left: auto;
    padding-top: 118px;
    padding-left: 40px;
    top: 0;
    right: 0;
    max-width: 337px;
    height: 100%;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    background-color: white;
  }
  .menu-close-btn {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 59px;
    right: 41px;
  }
  .icon-close {
    width: 19px;
    height: 19px;
    fill: #303030;
  }
  .menu-nav-item:not(:last-child) {
    margin-bottom: 24px;
  }
  .menu-nav-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.38;
    letter-spacing: 0.1em;
    color: #303030;
  }
  .menu-nav-link:hover, .menu-nav-link:focus {
    color: #FF6C00;
  }
  .menu-tel-link {
    display: inline-block;
    margin-top: 64px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.38;
    letter-spacing: 0.1em;
    color: #303030;
  }
  .menu-tel-link:hover, .menu-tel-link:focus {
    color: #FF6C00;
  }
  .menu-btn {
    margin-top: 24px;
    color: #303030;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.09em;
    border: 1px solid #FF6C00;
    border-radius: 25px;
    background-color: transparent;
    text-transform: uppercase;
    padding: 12px 37px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-btn:hover, .menu-btn:focus {
    background-color: #FF6C00;
    color: white;
  }
  .menu-social-list {
    margin-top: 64px;
  }
  .menu-social-item:not(:last-child) {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }
  .menu-social-item:not(:last-child)::before {
    margin-right: 20px;
    display: block;
    content: "";
    width: 60px;
    height: 1px;
    background-color: #303030;
  }
  .menu-social-item:last-child {
    margin-left: 80px;
  }
  .menu-social-link {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.35;
    letter-spacing: 0.2em;
    color: #303030;
  }
  .menu-social-link:hover, .menu-social-link:focus {
    color: #FF6C00;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.hero-section {
  max-width: 1440px;
}

.hero-top-text {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.hero-top-text::before {
  margin-right: 20px;
  display: block;
  content: "";
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
}

.hero-title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: white;
  margin-top: 20px;
}

.hero-bottom-text {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

@media screen and (max-width: 767px) {
  .hero-section {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(/images/hero/hero-mobile480px.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 208px;
    padding-bottom: 208px;
  }
  .hero-social-container {
    display: none;
  }
  .hero-bottom-text {
    max-width: 321px;
  }
}
@media screen and (min-width: 768px) {
  .hero-social-container {
    padding-left: 27px;
    padding-bottom: 40px;
    display: flex;
    align-items: flex-end;
    width: 100px;
    background-color: white;
  }
  .hero-container {
    display: flex;
  }
  .hero-social-list {
    display: flex;
    align-items: center;
    transform: rotate(-90deg) translateY(100%);
    transform-origin: bottom left;
    gap: 40px;
  }
  .hero-social-list::before {
    margin-right: 20px;
    display: block;
    content: "";
    width: 60px;
    height: 1px;
    background-color: #303030;
  }
  .hero-social-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: #303030;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hero-social-link:hover, .hero-social-link:focus {
    color: #FF6C00;
  }
  .hero-text-container {
    padding-left: 98px;
    padding-top: 272px;
    padding-bottom: 237px;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(/images/hero/hero-tablet-573px.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 573px;
  }
  .hero-bottom-text {
    width: 360px;
    font-size: 18px;
    line-height: 1.66;
  }
}
@media screen and (min-width: 1200px) {
  .hero-text-container {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero/hero.jpg);
    width: 1070px;
    padding: 252px 100px 208px;
  }
  .hero-title {
    font-size: 72px;
    line-height: 1.18;
  }
}
.about-top-text {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: #303030;
}
.about-top-text::before {
  margin-right: 20px;
  display: block;
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.about-title {
  font-family: Raleway;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  max-width: 306px;
  letter-spacing: 0.05em;
  color: #303030;
}

.about-text {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: #555555;
}

.about-bottom-text {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
}

.about-button {
  color: #303030;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.09em;
  border: 1px solid #FF6C00;
  border-radius: 25px;
  background-color: transparent;
  text-transform: uppercase;
  padding: 12px 20px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about-button:hover, .about-button:focus {
  background-color: #FF6C00;
  color: white;
}

@media screen and (max-width: 767px) {
  .about-list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .about-container {
    display: flex;
    gap: 30px;
    height: auto;
  }
  .about-list {
    width: calc((100% - 30px) / 2);
  }
  .about-text-container {
    width: calc((100% - 30px) / 2);
  }
  .about-text {
    font-size: 18px;
    line-height: 1.67;
    max-width: 330px;
  }
  .about-bottom-text {
    margin-bottom: 77px;
    max-width: 330px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .about-list {
    display: flex;
    gap: 30px;
  }
  .about-title {
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    max-width: 470px;
  }
  .about-text {
    max-width: 470px;
  }
  .about-bottom-text {
    max-width: 470px;
    margin-bottom: 42px;
  }
}
.prices-section {
  background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%), url(/images/prices/prices-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  height: auto;
  max-width: 1440px;
}

.prices-top-text {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.prices-top-text::before {
  margin-right: 20px;
  display: block;
  content: "";
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
}

.prices-title {
  font-family: Raleway;
  margin-bottom: 44px;
  margin-right: auto;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: white;
}

.prices-wrap {
  margin-bottom: 44px;
  display: flex;
}

.prices-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.prices-item::before {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  margin: 0 12px;
}

.prices-text {
  letter-spacing: 0.02em;
  color: #9DA4BD;
}
.prices-text:first-child {
  order: -1;
}

.prices-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.09em;
  border: 1px solid #FF6C00;
  border-radius: 25px;
  background-color: transparent;
  text-transform: uppercase;
  padding: 12px 20px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.prices-button:hover, .prices-button:focus {
  background-color: #FF6C00;
}

@media screen and (max-width: 767px) {
  .prices-title {
    max-width: 418px;
    font-size: 40px;
    line-height: 1.175;
  }
  .prices-text {
    font-size: 14px;
    line-height: 1.43;
  }
  .prices-wrap {
    padding: 30px 20px 30px 40px;
  }
}
@media screen and (min-width: 768px) {
  .prices-title {
    font-size: 42px;
    line-height: 1.1666666667;
  }
  .prices-text {
    font-size: 18px;
    line-height: 1.67;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .prices-wrap {
    padding: 32px 40px;
  }
}
@media screen and (max-width: 1199px) {
  .prices-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .prices-wrap {
    flex-direction: column;
    gap: 20px;
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}
@media screen and (min-width: 1200px) {
  .prices-section {
    background-image: url(/images/prices/prices-bg-desctop.jpg);
    max-width: 1600px;
  }
  .prices-wrap {
    justify-content: space-between;
    margin-bottom: 44px;
    gap: 30px;
  }
  .prices-list {
    padding: 30px 22px 30px 20px;
    width: calc((100% - 30px) / 2);
    background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
  .prices-item:not(:last-child) {
    margin-bottom: 20px;
  }
}
.benefits-list {
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
}

.benefits-container {
  display: flex;
}

.benefits-item {
  position: relative;
  height: 133px;
  background-color: #F7F7F7;
}
.benefits-item > span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  letter-spacing: 0.05em;
  display: block;
  text-align: center;
  margin-bottom: 6px;
  color: #303030;
}
.benefits-item > .benefits-plus {
  position: absolute;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
  color: #FF6C00;
}

.benefits-item:nth-child(odd) {
  margin-right: 30px;
}

.benefits-item:nth-child(even) {
  margin-top: 30px;
}

.benefits-plus.first {
  top: 27px;
  right: 35px;
}
.benefits-plus.second {
  top: 25px;
  right: 48px;
}
.benefits-plus.third {
  top: 25px;
  right: 48px;
}
.benefits-plus.fourth {
  top: 25px;
  right: 35px;
}

.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.benefits-top-text {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: #303030;
}
.benefits-top-text::before {
  margin-right: 20px;
  display: block;
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.benefits-title {
  font-family: Raleway;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: #303030;
}

.benefits-bottom-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}

@media screen and (max-width: 767px) {
  .benefits-item {
    padding: 20px 36px;
    width: calc((100% - 30px) / 2);
  }
  .benefits-bottom-text {
    max-width: 418px;
  }
}
@media screen and (min-width: 768px) {
  .benefits-item {
    width: 210px;
    padding: 20px 44px;
  }
}
@media screen and (max-width: 1199px) {
  .benefits-container {
    flex-direction: column-reverse;
  }
  .benefits-text-container {
    margin-bottom: 44px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefits-list {
    justify-content: flex-end;
  }
  .benefits-title {
    max-width: 449px;
  }
  .benefits-bottom-text {
    max-width: 500px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-text-container {
    margin-left: 130px;
  }
  .benefits-title {
    max-width: 430px;
  }
  .benefits-bottom-text {
    max-width: 500px;
  }
  .benefits-list {
    width: 370px;
    margin-left: 69px;
  }
  .benefits-item {
    width: 170px;
    padding: 20px 24px;
  }
}
.section-team {
  background-color: #F7F7F7;
}

.team-top-text {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36px;
  text-transform: uppercase;
  color: #303030;
}
.team-top-text::before {
  margin-right: 20px;
  display: block;
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.team-title {
  margin-bottom: 44px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  max-width: 430px;
  color: #303030;
}

.team-thumb {
  text-align: center;
  padding-top: 30px;
}

.team-subtitle {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.38;
  letter-spacing: 0.02em;
  color: #303030;
}

.team-text {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 0.02em;
  color: #FF6C00;
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-item {
  padding: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: #303030;
  background-color: white;
  border-radius: 50%;
}

.social-item:hover .social-icon,
.social-team:focus .social-icon {
  fill: #FF6C00;
}

.social-icon {
  fill: #303030;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 767px) {
  .team-list {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    width: 450px;
  }
  .team-wrap {
    width: 450px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1199px) {
  .team-item:not(:last-child) {
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    display: flex;
    gap: 30px;
  }
  .team-item {
    width: calc((100% - 60px) / 3);
  }
}
.gallery-text {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36px;
  text-transform: uppercase;
  color: #303030;
}
.gallery-text::before {
  margin-right: 20px;
  display: block;
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
}

@media screen and (max-width: 767px) {
  .gallery-text {
    margin-bottom: 71px;
  }
  .gallery-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
@media screen and (min-width: 768px) {
  .gallery-text {
    margin-bottom: 44px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 30px;
  }
  .gallery-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .gallery-list {
    display: flex;
    gap: 30px;
  }
}/*# sourceMappingURL=main.css.map */