
:root {
--white-color:#ffff;
--accent-color:#FF6C00;
--black-color:#303030;
--grey-color:#9DA4BD;
--secondary-black-color:#555555;
--bg-grey-color:#F7F7F7;
--booking-bg-color:#191C26;
}

body {
font-family: 'Open Sans',  sans-serif;

}

button {
cursor: pointer;
min-width: 160px;
	height: 40px;
}


h1,h2,h3,h4,p {
	margin:0;
	padding: 0;
}

a {
	cursor: pointer;
	text-decoration: none;
	font-style: normal;
}

ul {
	list-style: none;
	margin: 0;
		padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.container {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.section {
padding-top: 120px;
padding-bottom: 120px;
}

.title {
	font-family: 'Raleway';
		font-weight: 700;
		font-size: 42px;
		line-height: 1.16;
		letter-spacing: 0.05em;
}

/* Header */

.page-header {

}

.header-container {
	display: flex;
	padding-top: 32px;
	align-items: center;

}

.icon-logo {
	width: 69px;
	height: 55px;
}

.logo-link {
fill:var(--black-color);
margin-right: 131px;
}

.site-nav {
	display: flex;
	align-items: center;

}

.nav-list {
	display: flex;
	
}

.nav-item:not(:last-child) {
	margin-right: 30px;
}

.nav-link {
	font-weight: 600;
		font-size: 12px;
		line-height: 1.3;
		letter-spacing: 0.1em;
		color: var(--white-color);
}

.nav-link:hover,
.nav-link:focus {
	color: var(--accent-color);
}

.contact-header {
	margin-left: auto;
}

.tel-link {
	margin-right: 43px;
font-weight: 600;
text-transform: uppercase;
	font-size: 12px;
	line-height: 1.3;
	letter-spacing: 0.1em;
	color: var(--white-color);
}

.tel-link:hover,
.tel-link:focus {
	color: var(--accent-color);
}

.header-button {
	color: var(--white-color);
	font-weight: 600;
		font-size: 12px;
		line-height: 1.3;
		letter-spacing: 0.09em;
	border: 1px solid var(--accent-color);
		border-radius: 25px;
		background-color: transparent;
		text-transform: uppercase;
		padding: 12px 20px;
}

.header-button:hover,
.header-button:focus{
	background-color: var(--accent-color);
}

/* Section hero */


.hero-title-container {
	padding-top:185px ;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 208px;
	background-image: url(../images/hero/hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 1070px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
}

.social-container {

}
.social-list {
}

.hero-social-item:not(:last-child){
	margin-right: 40px

}
.hero-social-link {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.2em;
	color: var(--black-color);
}

.hero-social-link:hover,
.hero-social-link:focus {
	color: var(--accent-color);
}


.hero-section {
	background-color: grey;
	outline: 2px solid tomato;
}

.hero-top-text {
	margin-top: 0;
	margin-bottom: 20px;
	font-weight: 600;
		font-size: 11px;
		line-height: 1.36;
		text-transform: uppercase;
	color: rgba(157, 164, 189, 0.6);
}

.hero-title {
	margin-bottom: 20px;
	font-family: 'Raleway';
		font-weight: 700;
		font-size: 72px;
		line-height: 1.18;
		letter-spacing: 0.05em;
		color: var(--white-color);
}

.hero-bottom-text {
		font-size: 18px;
		line-height: 1.67;
		letter-spacing: 0.02em;
		color:var(--grey-color);
		max-width: 360px;
}

/* Section about */

.container.about {
	display: flex;
}

.about-list {
	display: flex;
	margin-right: 30px;
}

.about-item:not(:last-child){
	margin-right: 30px;
}

.about-icon-container {
	margin-bottom: 20px;
	display: flex;
	margin-bottom: 20px;
	align-items: center;
}

.about-text-icon {
	margin-right: 20px;
	width: 60px;
	height: 1px;
	fill: var(--black-color);
}

.about-top-text {
	font-weight: 600;
		font-size: 11px;
		line-height: 1.36;
		color: var(--black-color);
		text-transform: uppercase;
}

.about-title {
	margin-bottom: 20px;
		max-width: 470px;
		color: var(--black-color);
}

.about-text {
	margin-bottom: 20px;
	font-size: 18px;
		line-height: 1.67;
		letter-spacing: 0.02em;
		max-width: 470px;
		color: var(--secondary-black-color);
}

.about-bottom-text {
	margin-bottom: 42px;
	font-size: 14px;
	line-height: 1.86;
	letter-spacing: 0.02em;
	max-width: 470px;
color: var(--secondary-black-color);
}

.about-button {
	color: var(--black-color);
		font-weight: 600;
		font-size: 12px;
		line-height: 1.3;
		letter-spacing: 0.09em;
		border: 1px solid var(--accent-color);
		border-radius: 25px;
		background-color: transparent;
		text-transform: uppercase;
		padding: 12px 20px;
}
.about-button:hover,
.about-button:focus {
	background-color: var(--accent-color);
	color: var(--white-color);
}

/* Section prices */

.prices-section {
	background-image: url(../images/prices/prices-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin-right: auto;
	margin-left: auto;
	
}

.prices-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 44px;
}

.prices-icon-container {
	display: flex;
	align-items: center;
	margin-bottom: 20px;

}

.prices-text-icon {
	margin-right: 20px;
	width: 60px;
	height: 1px;
	fill: rgba(157, 164, 189, 0.4);
}

.prices-top-text {
	font-weight: 600;
		font-size: 11px;
		line-height: 1.36;
		text-transform: uppercase;
		color: rgba(157, 164, 189, 0.6);
}

.prices-title {
	margin-bottom: 44px;
		color: var(--white-color);
}

.prices-list {
	padding: 30px 20px;
	width: calc((100% - 30px) / 2);
}

.prices-list.first {
	background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.prices-list.second {
background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.prices-list:not(:last-child) {
	margin-right: 30px;
}

.prices-text {
	font-size: 18px;
		line-height: 1.67;
		letter-spacing: 0.02em;
		max-width: 470px;
		color: var(--grey-color);
}

.prices-item {
display: flex;
	justify-content: space-between;
}

.prices-item:not(:last-child) {

	margin-bottom: 20px;
}

.prices-button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	color: var(--white-color);
		font-weight: 600;
		font-size: 12px;
		line-height: 1.3;
		letter-spacing: 0.09em;
		border: 1px solid var(--accent-color);
		border-radius: 25px;
		background-color: transparent;
		text-transform: uppercase;
		padding: 12px 20px;
}
.prices-button:hover,
.prices-button:focus {
	background-color:var(--accent-color);
}


/* Section benefits */

.container.benefits {
display: flex;
padding: 85px;
}

.benefits-list {
	flex-shrink: 0;
	width:370px;
	display: flex;
	flex-wrap: wrap;
}

.benefits-item:nth-child(odd) {
	margin-right: 30px;
}

.benefits-item:nth-child(even) {
	margin-top:30px;
}

.benefits-item {
	position: relative;
	width: 170px;
	height: 133px;
	border: 1px solid black;
	padding: 20px 24px;
	background-color: var(--bg-grey-color);
}

.benefits-item>span {
font-weight: 700;
	font-size: 42px;
	line-height: 1.35;
letter-spacing: 0.05em;
display: block;
text-align: center;
margin-bottom: 6px;
color: var(--black-color);
}

.benefits-item-text {
font-weight: 600;
font-size: 11px;
line-height: 1.36;
text-align: center;
	color: var(--black-color);
}

.benefits-text-container {
margin-left: 130px;
}


.benefits-top-text {
font-weight: 600;
font-size: 11px;
line-height: 1.36;
text-transform: uppercase;

	color: var(--black-color);
}

.benefits-icon-container {
	display: flex;
	margin-bottom: 20px;
	align-items: center;
}

.benefits-text-icon {
	margin-right: 20px;
	width: 60px;
	height: 1px;
	fill: var(--black-color);
}

.benefits-title {
	margin-bottom: 20px;
font-family: Raleway;
font-weight: 700;
font-size: 42px;
line-height: 1.35;
letter-spacing: 0.05em;
color: var(--black-color);
	}

.benefits-bottom-text {
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;
	color: var(--secondary-black-color)
	}


.benefits-item>.benefits-plus {
position: absolute;
font-weight: 600;
	font-size: 16px;
	line-height: 1.3;
color: var(--accent-color);
}

.benefits-plus.first {
top: 27px;
right: 35px;
	}

.benefits-plus.second {
top: 25px;
right: 48px;
	}

.benefits-plus.third {
top: 25px;
right: 48px;
	}

.benefits-plus.fourth {
top: 25px;
right: 35px;
	}
/* Section team */

.team-section {
	background-color: var(--bg-grey-color);
}

.team-list {
	display: flex;
	gap: 30px;
}

.team-thumb {
	text-align: center;
padding-top: 30px;

}

.team-top-text{
	margin-left: 80px;
	margin-bottom: 20px;
	font-weight: 600;
		font-size: 11px;
		line-height: 1.36px;
		text-transform: uppercase;
		color: var(--black-color);
}

.team-title {
	margin-bottom: 44px;
font-family: 'Raleway';
	font-weight: 700;
	font-size: 42px;
	line-height: 1.16;
	letter-spacing: 0.05em;
	max-width: 430px;
	color: var(--black-color);
}

.team-subtitle {
	margin-bottom: 8px;
	font-size: 18px;
		line-height: 1.38;
		letter-spacing: 0.02em;
		color: var(--black-color);
}

.team-item {
	width: calc(100% - 60px) / 3;
}

.team-text {
	margin-bottom: 30px;
	font-size: 14px;
   line-height: 1.35;
   letter-spacing: 0.02em;
	color: var(--accent-color)
}

.team-social-list {
	display: flex;
	justify-content: center;
}

.social-item {
	padding: 20px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	background-color: var(--white-color);
	border-radius: 50%;
}

.social-item:not(:last-child){
margin-right: 10px;
}

.social-item:hover .social-icon,
.social-item:focus .social-icon {
fill: var(--accent-color);
}

.social-icon {
	fill: var(--black-color);
}

.social-icon.instagram {
	width: 20px;
	height: 20px;
}

.social-icon.twitter {
	width: 20px;
	height: 20px;
}

.social-icon.facebook {
	width: 20px;
	height: 20px;
}

.social-icon.linkedin {
	width: 20px;
	height: 20px;
}

/* Section gallery */

.gallery-text {
	font-weight: 600;
		font-size: 11px;
		line-height: 1.36px;
		text-transform: uppercase;
		color: var(--black-color);
}

.gallery-icon-container{
	display: flex;
	margin-bottom: 44px;
}

.gallery-text-icon {
margin-right: 20px;
	width: 60px;
	height: 1px;
fill: var(--black-color);
}

.gallery-list {
	display: flex;
}

.gallery-item:not(:last-child) {
margin-right: 30px;

}




/* Section booking */

.connection-section {
	padding-top:10px;
	padding-bottom: 120px;
}

.booking-contacts {
display: flex;
height: 634px;


}

.booking-container {
	padding-top: 130px;
	padding-left: 200px;

	background-color: var(--booking-bg-color);
	width: 50%;
}

.booking-title{
	margin-bottom: 232px;
		max-width: 430px;
		color: var(--white-color);
}

.booking-button {
	color: var(--white-color);
	width:160px;
		font-weight: 600;
		font-size: 12px;
		line-height: 1.3;
		letter-spacing: 0.09em;
		border: 1px solid var(--accent-color);
		border-radius: 25px;
		background-color: transparent;
		text-transform: uppercase;
		padding: 12px 20px;
}

.booking-button:hover{
background-color: var(--accent-color);
}

.contacts-container {
	padding-left: 100px;
	padding-top: 130px;
	width: 50%;
	background-image:linear-gradient(to right, rgba(0,1, 0.8), rgba(46, 47, 66, 0.8)), url(../images/contacts/contacts-bg-image.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	
}

.contacts-item:not(:last-child) {
	margin-bottom: 20px;
}

.contacts-item.email {

}

.contacts-title {
	margin-bottom: 40px;
		max-width: 430px;
		color: var(--white-color);
}

.contacts-link.address {
	font-weight: 700;
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;
	color: var(--grey-color)
}


.contacts-icon {
margin-right: 16px;
width: 24px;
	height: 24px;
}


.contacts-link {
	display: flex;
		font-size: 18px;
			line-height: 1.67;
			letter-spacing: 0.02em;
			color: var(--grey-color)
}
.contacts-item:last-child{
	margin-bottom: 70px;
}

.contacts-link.email {
	text-decoration-line: underline;
}

.contacts-icon-container {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	
}

.contacts-text-icon {
	margin-right: 20px;
	width: 60px;
	height: 1px;
fill:rgba(157, 164, 189, 0.4);
}

.contacts-top-text {
font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	text-transform: uppercase;

	color: var(--white-color);

}
.contacts-bottom-text {
   font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;
	color: var(--grey-color);
}
/* Section Footer */

.footer-text {
font-weight: 600;
font-size: 11px;
line-height:1.36;
letter-spacing: 0.2em;
color: var(--grey-color);
}

.footer-link {
	font-weight: 600;
		font-size: 11px;
		line-height: 1.36;
		letter-spacing: 0.2em;
		color: var(--black-color);

}



