
:root {

}

body {
font-family: 'Open Sans',  sans-serif;

}


img {
	display: block;
	max-width: 100%;
	height: auto;
}

/* Header */

.icon-logo {
	width: 69px;
	height: 55px;
}


/* Section hero */





/* Section about */






/* Section prices */









/* Section advantages */

.icon-plus{
	width: 13px;
	height: 22px ;
}






/* Section team */











/* Section gallery */














/* Section booking */











/* Section contacts */








/* Section Footer */






