.page-header {
	position: absolute;
	width: 100%;

}

.header-container {
	align-items: center;
	display: flex;
	

}

.nav-container {
}

.logo-link {
	fill: $black-color;
}


.icon-logo {
width: 69px;
height: 55px;
}
.nav-list {
}


.nav-item {
}
.nav-link {
}
.contact-header-container {
}
.tel-link {
}
.header-button {
}


@media screen and (max-width:767px) {
	.page-header {
		padding-top: 40px;
	}
.nav-container {
	display: none;
}
.header-container {
	justify-content: space-between;
}
.contact-header-container {
display: none;
}
.logo-link {
	fill: $white-color;
}

.menu-burger-btn {
	background-color: transparent;
	border: none;
 }

.icon-burger {
fill: $white-color;
	width: 40px;
height: 40px;
}
}


@media screen and (min-width:768px) {
.menu-burger-btn {
	display: none;
}
.logo-link {
	margin-right: 59px;
}
.nav-list {
	display: flex;
	gap: 20px;
}
.nav-link {
font-weight: 600;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.1em;
color: $white-color;
&:hover,
&:focus {
	color: $accent-color;
}
}
.tel-link {
	font-weight: 600;
font-size: 12px;
line-height: 1.3;
letter-spacing: 0.1em;
color: $white-color;
&:hover,
&:focus {
	color: $accent-color;
}
}
.page-header {
	padding-top: 32px;
}

.contact-header-container {
	margin-left: auto;
	display: flex;
	align-items: center;

}
.header-button {
	color: $white-color;
	font-weight: 600;
		font-size: 12px;
		line-height: 1.3;
		letter-spacing: 0.09em;
	border: 1px solid $accent-color;
		border-radius: 25px;
		background-color: transparent;
		text-transform: uppercase;
		padding: 12px 20px;
		transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
				border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
				color 250ms cubic-bezier(0.4, 0, 0.2, 1);
		&:hover,
		&focus {
			background-color: $accent-color;
		}
}
}

@media screen and (min-width:768px) and (max-width:1199px) {
	.contact-header-container {
	flex-direction: column-reverse;
	gap: 20px;
}

}
@media screen and (min-width:1200px) {
.page-header {
	padding-top: 52px;
}
.contact-header-container {
	gap: 43px;
	margin-right: 17px;
}	
.logo-link {
	margin-right: 131px;
}
.nav-list {
	gap: 30px;
}
}