.booking-contacts-wrap {
// max-width: 1600px;
// 	margin: 0 auto;
// 	height: auto;
	// background-color: $booking-bg-color;
// background-image: url(../images/contacts/contacts-bg-image.png);
// background-size: calc(50% - 15px) 100%;
// background-repeat: no-repeat;
// background-position: right;
}

.booking-section {
	background-color: $booking-bg-color;
}
.booking-title {
}
.form-booking {
}
.name-tel-container {
}
.label {
}
.visually-hidden {
}
.input {
}
.textarea {
}
.booking-button {
}
.contacts-section {
	background-color: $booking-bg-color;
background-image: url(../images/contacts/contacts-bg-image.png);
}
.contacts-title {
}
.contacts-address {
}
.contacts-list {
}
.contacts-item {
}
.contacts-icon {
}
.contacts-link {
}
.link {
}
.phone {
}
.email {
}
.contacts-top-text {
}
.contacts-bottom-text {
}

@media screen and (min-width: 1200px) {

}