$white-color:#ffff;
$accent-color:#FF6C00;
$black-color:#303030;
$grey-color:#9DA4BD;
$secondary-black-color:#555555;
$bg-grey-color:#F7F7F7;
$booking-bg-color:#191C26;
$secondary-grey-color:rgba(157, 164, 189, 0.4);
$animation-cubic:cubic-bezier(0.4, 0, 0.2, 1);